{
  "plugins": [
		"stylelint-order"
	],
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "order/order": [
			"custom-properties",
			"declarations"
		], 
		"order/properties-alphabetical-order": null
  }
}
